
body {
  background-color: #e6ffe6;
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
  color: #333;
  text-align: justify;
}


h1 {
  text-align: center;
  color: darkgreen;
  font-size: 32px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  color: darkgreen;
  font-size: 22px;
  margin-top: 40px;
}

h3 {
  text-align: center;
  color: darkgreen;
  font-size: 16pt;
  margin-top: 30px;
  font-weight: bold;
}


img.principal {
  display: block;
  margin: 0 auto 20px auto;
  width: 80%;
  border-radius: 10px;
}


.platos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.platos img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  border: 3px solid darkgreen;
}

/* Enlaces */
.enlaces {
  text-align: center;
  margin-top: 20px;
}

.enlaces a {
  display: inline-block;
  margin: 10px 15px;
  text-decoration: none;
  color: orange;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid orange;
  padding: 6px 12px;
  border-radius: 8px;
  transition: 0.3s;
}

.enlaces a:hover {
  background-color: orange;
  color: white;
}
